@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

// * * * Default font
$defaultFontFamily: "SeraPro", Arial, Helvetica, sans-serif;
$secondFontFamily: Arial, Helvetica, sans-serif;

$fontSize: rem(16); // где 16(px) - размер шрифта по умолчанию из макета

// * * * Settings
// * Page minimal width
$minWidth: 320;
// * Frame width (maket)
$maxWidth: 1440;
// * Page container width (0 = without container)
$maxWidthContainer: 1206;
$maxWidthContainerPX: 1206px;
// * Container padding
// (30 = 15px left and right, 0 = without padding)
$containerPadding: 30;
// * Adaptive type:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding; // 1256
// * Breakpoinds
$fullHd: em(1920);
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
// * * * Colors
// * Main text color
$white: #FFFFFF;
$black: #000000;
$primary: #E1A551;
$grey: #4D515B;
$text-color: #0D2D3D;
$text-subdued: #4A5D70;
$red: #EA3C24;

// * trabsition
$defaultTransition: 0.3s ease;

// * z-indexes
$z-indexes: (
  'header',
  'page-menu',
  'wrapper',
  'page-bg'
);